.vscode
.idea
*.pyc
.pytest_cache
*.png
*.bmp
*.html
*.jpg
mldebug
__pycache__
.coverage
coverage_html_report
*.egg-info
build
dist
.eggs
_out*
coverage_txt_report.txt
.ipynb_checkpoints
*.png
.venv
build_info
